<html>
<head>
<title>Tyuren System</title>
</head> 
<body>
<h1>change student email settings</h1>
<TMPL NAME="is_success">
<h2>change can send email</h2>
<form method="post" action="http://sakuragakusha.com/tyuren/email_settings.pl">
  <input type="hidden" name="mode" value="change_can_send" />
  <p>student_id : <input type="text" name="student_id" value="1" /></p>
  <p>can_send_email : <input type="text" name="can_send_email" value="1" /></p>
  <p><input type="submit" value="change" /></p>
</form>
<h2>set student email</h2>
<form method="post" action="http://sakuragakusha.com/tyuren/email_settings.pl">
  <input type="hidden" name="mode" value="change_email" />
  <p>student_id : <input type="text" name="student_id" value="1" /></p>
  <p>email : <input type="text" name="email" value="hoge@sakuragakusha.com" /></p>
  <p><input type="submit" value="change" /></p>
</form>
</body>
</html>
