<html>
<head>
<title>Tyuren System</title>
</head> 
<body>
<h1>the lists of all students</h1>
<table border=2 width=250 align=left>
<tr>
  <th>student_id</th>
  <th>nickname</th>
  <th>status</th>
  <th>total_point</th>
  <th>can_send_email</th>
  <th>email</th>
  <th>create_datetime</th>
</tr>
<TMPL_LOOP NAME=all_student>
<tr>
  <td><TMPL_VAR NAME=student_id></td>
  <td><TMPL_VAR NAME=nickname></td>
  <td><TMPL_VAR NAME=status></td>
  <td><TMPL_VAR NAME=total_point></td>
  <td><TMPL_VAR NAME=can_send_email></td>
  <td><TMPL_VAR NAME=email></td>
  <td><TMPL_VAR NAME=create_datetime></td>
</tr>
</TMPL_LOOP>
</table>
</body>
</html>
