<html>
<head>
<title>Tyuren System</title>
</head> 
<body>
<p>hello world</p>
<TMPL_VAR NAME="all_student">
  <TMPL_LOOP NAME="all_student">
  <TMPL_VAR NAME="student_id">
  <TMPL_VAR NAME="nickname">
  <TMPL_VAR NAME="status">
  <TMPL_VAR NAME="total_point">
  <TMPL_VAR NAME="can_send_email">
  <TMPL_VAR NAME="link_to">
  <TMPL_VAR NAME="create_datetime">
</TMPL_LOOP>
</body>
</html>
